body {
  background-color: #494949;
  padding-top: 75px;
    padding-bottom: 75px;
  text-align: center;
    
}
h1,
h2,
h3 {
    font-family: 'Poiret One', cursive;
}
h4,
h5,
h6 {
    font-family: 'Nixie One', cursive;
}
* {
  box-sizing: border-box;
}
